
<footer class="flex flex-col text-center py-4 text-xs justify-center">
    <span >{new Date().getFullYear()} All rights reserved.</span>
    <p>
      <a
        class="font-small leading-tight text-neutral-200 hover:text-neutral-300 focus-visible:text-neutral-300 group/link"
        href="/imprint/"
        target="_blank"
        rel="noreferrer">Imprint</a>
    </p>
</footer>